# 環境変数ファイル
app/.env*
!app/.env.sample

# Pythonキャッシュファイル
**/__pycache__

# アプリケーションデータ
app/resources/dataset/*
!app/resources/dataset/sample.jsonl

# モデルファイル
app/resources/model/*

# 一時ファイル
app/temp/*

# 空ディレクトリ保持用
!**/.gitkeep
